<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<package name="warwolf-administrator-model" />		 
	</typeAliases>
	<mappers>
		<!-- 基础类 -->
		<mapper resource="mapper/admin/UserMapper.xml"/>
		<mapper resource="mapper/admin/DictionsMapper.xml"/>
		<mapper resource="mapper/admin/RoleDictionsMapper.xml"/>
		<mapper resource="mapper/admin/RoleMapper.xml"/>
		<mapper resource="mapper/admin/UserRoleMapper.xml"/>
		<mapper resource="mapper/admin/MenuMapper.xml"/>
		<mapper resource="mapper/admin/RoleMenuMapper.xml"/>
		<mapper resource="mapper/admin/ZoneMapper.xml"/>
		<mapper resource="mapper/admin/CompanyMapper.xml"/>
		<!-- 日志类 -->
		<mapper resource="mapper/log/SystemLogMapper.xml"/>

		<!-- 基础类 -->
		<mapper resource="mapper/base/WxCommonMapper.xml"/>

 </mappers>
</configuration>