<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
    <link href="${base}/bootstrap_ace/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="${base}/css/bootstrap-table.css" rel="stylesheet" />
    <link href="${base}/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="${base}/css/search-common.css" rel="stylesheet" />
    <link href="${base}/css/fileinput.min.css" rel="stylesheet" />

    <script type="text/javascript" src="${base}/framework/lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="${base}/framework/lib/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="${base}/framework/lib/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="${base}/framework/lib/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="${base}/framework/lib/bootstrap.min.js"></script>
    <!-- sea.js-->
    <script type="text/javascript" src="${base}/framework/lib/sea.js"></script>
    <script type="text/javascript" src="${base}/framework/lib/sea-debug.js"></script>
    <script type="text/javascript" src="${base}/framework/lib/seajs-text.js"></script>

    <!-- 文件上传组件 -->
    <script type="text/javascript" src="${base}/framework/lib/fileinput.min.js"></script>
    <script type="text/javascript" src="${base}/framework/lib/file-inputzh.js"></script>

</head>
</html>