<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>Hello${user.name}</title>
    <#include "/common/header.html" />
    <script type="text/javascript">
        /*var resourcesUrl = '${cdn}';*/
        (function () {
            var path = "/resources";
            seajs.config({
                "base": path + "/",
                map: [
                    [/^(.*\.(?:css|js))(.*)$/i, '$1?' + "0.1"]
                ],
                "paths": {
                    "core": path + "/framework/core",
                    "lib": path + +"/framework/lib",
                    "security": path + "/framework/security"
                }
            });
        })();

        $(function () {
            seajs.use("/js/common/index.view");
        });


    </script>
</head>

<body>
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try {
            ace.settings.check('navbar', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="icon-leaf"></i>
                    后台管理系统
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->
    </div><!-- /.navbar-header -->

    <div class="navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            <li class="grey">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="icon-tasks"></i>
                    <span class="badge badge-grey">4</span>
                </a>

                <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                    <li class="dropdown-header">
                        <i class="icon-ok"></i>
                        还有4个任务完成
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">软件更新</span>
                                <span class="pull-right">65%</span>
                            </div>

                            <div class="progress progress-mini ">
                                <div style="width:65%" class="progress-bar "></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">硬件更新</span>
                                <span class="pull-right">35%</span>
                            </div>

                            <div class="progress progress-mini ">
                                <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">单元测试</span>
                                <span class="pull-right">15%</span>
                            </div>

                            <div class="progress progress-mini ">
                                <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">错误修复</span>
                                <span class="pull-right">90%</span>
                            </div>

                            <div class="progress progress-mini progress-striped active">
                                <div style="width:90%" class="progress-bar progress-bar-success"></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            查看任务详情
                            <i class="icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="purple">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="icon-bell-alt icon-animated-bell"></i>
                    <span class="badge badge-important">8</span>
                </a>

                <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                    <li class="dropdown-header">
                        <i class="icon-warning-sign"></i>
                        8条通知
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-pink icon-comment"></i>
												新闻评论
											</span>
                                <span class="pull-right badge badge-info">+12</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="btn btn-xs btn-primary icon-user"></i>
                            切换为编辑登录..
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
												新订单
											</span>
                                <span class="pull-right badge badge-success">+8</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-info icon-twitter"></i>
												粉丝
											</span>
                                <span class="pull-right badge badge-info">+11</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            查看所有通知
                            <i class="icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="green">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="icon-envelope icon-animated-vertical"></i>
                    <span class="badge badge-success">5</span>
                </a>

                <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                    <li class="dropdown-header">
                        <i class="icon-envelope-alt"></i>
                        5条消息
                    </li>

                    <li>
                        <a href="#">
                            <img src="${base}/bootstrap_ace/assets/avatars/avatar.png" class="msg-photo"
                                 alt="Alex's Avatar"/>
                            <span class="msg-body">
											<span class="msg-title">
												<span class="blue">Alex:</span>
												不知道写啥 ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>1分钟以前</span>
											</span>
										</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="${base}/bootstrap_ace/assets/avatars/avatar3.png" class="msg-photo"
                                 alt="Susan's Avatar"/>
                            <span class="msg-body">
											<span class="msg-title">
												<span class="blue">Susan:</span>
												不知道翻译...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>20分钟以前</span>
											</span>
										</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="${base}/bootstrap_ace/assets/avatars/avatar4.png" class="msg-photo"
                                 alt="Bob's Avatar"/>
                            <span class="msg-body">
											<span class="msg-title">
												<span class="blue">Bob:</span>
												到底是不是英文 ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>下午3:15</span>
											</span>
										</span>
                        </a>
                    </li>

                    <li>
                        <a href="inbox.html">
                            查看所有消息
                            <i class="icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="light-blue">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <img class="nav-user-photo"src="${base}/bootstrap_ace/assets/avatars/user.jpg" alt="Jason's Photo"/>


                    <span class="user-info">
									<small>欢迎光临,</small>
									${user.name!}
								</span>

                    <i class="icon-caret-down"></i>
                </a>

                <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li>
                        <a href="/">
                            <i class="icon-cog"></i>
                            设置
                        </a>
                    </li>

                    <li>
                        <a href="${base}/home/detail">
                            <i class="icon-user"></i>
                            个人资料
                        </a>
                    </li>
                    <li>
                        <a id="uploadHeadPortrait">
                            <i class="icon-user"></i>
                            上传头像
                        </a>
                    </li>
                    <li class="divider"></li>

                    <li>
                        <a href="${base}/signout">
                            <i class="icon-off"></i>
                            退出
                        </a>
                    </li>
                </ul>
            </li>
        </ul><!-- /.ace-nav -->
    </div><!-- /.navbar-header -->
</div><!-- /.container -->

<div class="modal fade" id="updata-head-portrait-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="roleLable">上传头像</h4>
            </div>
            <div class="modal-body">
                <form id="roleForm" enctype="multipart/form-data">
                    <input id="uploadFile" type="file" name="uploadFile" data-show-preview="true"/>
                </form>
                <input type="hidden" id="fileId"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="saveRole">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed');
        } catch (e) {

        }
    </script>
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#"> <span
                class="menu-text"></span>
        </a>
        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'fixed');
                } catch (e) {
                }
            </script>
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="icon-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="icon-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                        <i class="icon-group"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="icon-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span> <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span> <span class="btn btn-danger"></span>
                </div>
            </div>
            <!-- #sidebar-shortcuts -->
            <!-- 菜单显示 -->
            <ul class="nav nav-list" id="menuTree">
                <!--菜单-->
                <#list menuList as menu>
                    <!-- 一级子菜单没有parentId,有url -->
                    <#if menu.PId == 0 && menu.url != null>
                        <li class="active">
                            <a href="${menu.url!}">
                                <i class="icon-dashboard"></i>
                                <span class="menu-text"> ${menu.name!}</span>
                            </a>
                        </li>
                    </#if>
                    <#if menu.PId == 0 && menu.url == null>
                        <li>
                            <a href="#" class="dropdown-toggle">

                                <span class="menu-text"> ${menu.name } </span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <#list menu.childMenus as secondChild>
                                    <#if secondChild.url != null>
                                        <li style="display: block;">
                                            <a href="${secondChild.url!}" data-menuname="${secondChild.name!}"
                                               data-menuid="${secondChild.PId!}">
                                                ${secondChild.name!}
                                            </a>
                                        </li>
                                    </#if>
                                    <#if secondChild.url == null>
                                        <ul class="submenu">
                                            <li>
                                                <a href="#">${secondChild.name }<span class="fa arrow"></span></a>
                                                <ul class="nav nav-third-level">
                                                    <#list secondChild.childMenus as thirdChild>
                                                        <li>
                                                            <a href="<c:url value='${thirdChild.url }'/>">${thirdChild.name}</a>
                                                        </li>
                                                    </#list>
                                                </ul>
                                            </li>
                                        </ul>
                                    </#if>
                                </#list>
                            </ul>
                        </li>
                    </#if>
                </#list>
            </ul>

<!-- /.nav-list -->

<div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left"
       data-icon1="icon-double-angle-left"
       data-icon2="icon-double-angle-right"></i>
</div>

<script type="text/javascript">
    try {
        ace.settings.check('sidebar', 'collapsed');
    } catch (e) {
    }
</script>
</div>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb" id="breadCrumb">
            <li><i class="icon-home home-icon"></i> <a href="#">首页</a></li>
            <li class="active">控制台</li>
        </ul>
        <!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
							<span class="input-icon"> <input type="text"
                                                             placeholder="Search ..." class="nav-search-input"
                                                             id="nav-search-input" autocomplete="off"/> <i
                                    class="icon-search nav-search-icon"></i>
							</span>
            </form>
        </div>
        <!-- #nav-search -->
    </div>
    <iframe id="loadMainContent" frameborder="0" marginheight="0"
            marginwidth="0" scrolling="no" width="100%" height="800" src=""></iframe>
    <!-- /.page-content -->
</div>
<!-- /.main-content -->

</div>
<!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up"
   class="btn-scroll-up btn btn-sm btn-inverse"> <i
        class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div>
<div id="modal_area"></div>
</body>
<script type="text/javascript">
    jQuery(function ($) {
        $('#uploadHeadPortrait').click(function () {
            $("#updata-head-portrait-model").modal('show');
            var uploadUrl = "${base}/sf/upload";
            $('#uploadFile').fileinput({
                resizeImage : true,
                maxImageWidth : 50,
                maxImageHeight : 50,
                resizePreference : 'width',
                language : 'zh', //设置语言
                uploadUrl : uploadUrl,
                uploadAsync : true,
                allowedFileExtensions : [ 'jpg', 'png', 'pptx'],//接收的文件后缀
                showUpload : true, //是否显示上传按钮
                showCaption : true,//是否显示标题
                browseClass : "btn btn-primary", //按钮样式
                previewFileIcon : "<i class='glyphicon glyphicon-king'></i>",
                maxFileCount : 1,
                msgFilesTooMany : "选择图片超过了最大数量",
                maxFileSize : 2000,
                showRemove : false
                //initialPreview: [
                //预览图片的设置
                //      "<img src='http://127.0.0.1:8080/NewsManageSys/plugin/umeditor1_2_2/jsp/upload/20161030/55061                       477813913474.jpg' class='file-preview-image' alt='肖像图片' title='肖像图片'>",
                //],

            }).on("filebatchselected", function (event, files) {
                $(this).fileinput("upload");
            }).on("fileuploaded", function (event, data) {
                $("#path").attr("value", data.response);
            });
        })
    })

</script>
</html>