<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>菜单页面</title>
    <#include "/common/common.html" />

    <script type="text/javascript">
        /*var resourcesUrl = '${cdn}';*/
        (function () {
            // var path = "/resources";
            var path = "";
            seajs.config({
                "base": path + "/",
                map: [
                    [/^(.*\.(?:css|js))(.*)$/i, '$1?' + "0.1"]
                ],
                "paths": {
                    "core": path + "/framework/core",
                    "lib": path + +"/framework/lib",
                    "security": path + "/framework/security"
                }
            });
        })();

        $(function () {
            seajs.use("/js/admin/user.view");
        });


    </script>
</head>

<body>
<div id="toolbar" style="height: 33px;margin-top: 7px;">
    <div class="container">
        <label class="lable-content">用户名：</label>
        <div class="text-content">
            <input id="name" type="text" name="name" class="form-control" placeholder="输入用户">
        </div>
    </div>
    <div class="container">
        <label class="lable-content">账号：</label>
        <div class="text-content">
            <input id="fName" type="text" name="account" class="form-control" placeholder="输入账号">
        </div>
    </div>

    <div class="btn-content" id="dictions-role"></div>
    <table class="table" id="table-panel"></table>
</div>


<!-- 分配用户角色 -->
<div class="modal fade" id="user-roleModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="roleLable">用户分配权限</h4>
            </div>
            <div class="modal-body">
                <form id="roleForm">
                    <input type="hidden" id="account"/>
                    <div class="form-group">
                        <label for="name" style="">用户名：</label>
                        <label for="name" id="userName" style=""></label>
                    </div>
                    <div class="form-group">
                        <label for="name">角色：</label>
                        <select id="roleSlpk" class="selectpickerRole" data-live-search="true" multiple="multiple"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="saveRole">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>

    var list =[{
        "id": 43,
        "menu_name": "测试任务",
        "menu_href": "6",
        "menu_icon": "el-icon-lx-edit",
        "tree_sort": 600,
        "tree_level": 1,
        "is_show": 1,
        "status": 0,
        "remarks": "",
        "parent": null
    },
        {
            "id": 44,
            "menu_name": "待领样",
            "menu_href": "waitGetSamples",
            "menu_icon": "",
            "tree_sort": 610,
            "tree_level": 2,
            "is_show": 1,
            "status": 0,
            "remarks": "",
            "parent": 43
        },
        {
            "id": 45,
            "menu_name": "待测试",
            "menu_href": "waitTest",
            "menu_icon": "",
            "tree_sort": 620,
            "tree_level": 2,
            "is_show": 1,
            "status": 0,
            "remarks": "",
            "parent": 43
        },
        {
            "id": 46,
            "menu_name": "测试中",
            "menu_href": "testInProcess",
            "menu_icon": "",
            "tree_sort": 630,
            "tree_level": 2,
            "is_show": 1,
            "status": 0,
            "remarks": "",
            "parent": 43
        },
        {
            "id": 47,
            "menu_name": "数据审核",
            "menu_href": "7",
            "menu_icon": "el-icon-lx-punch",
            "tree_sort": 700,
            "tree_level": 1,
            "is_show": 1,
            "status": 0,
            "remarks": "",
            "parent": null
        },
        {
            "id": 48,
            "menu_name": "数据审理",
            "menu_href": "dataAuditing",
            "menu_icon": "",
            "tree_sort": 710,
            "tree_level": 2,
            "is_show": 1,
            "status": 0,
            "remarks": "",
            "parent": 47
        },
        {
            "id": 49,
            "menu_name": "异常处理",
            "menu_href": "exceptionHandling",
            "menu_icon": "",
            "tree_sort": 720,
            "tree_level": 2,
            "is_show": 1,
            "status": 0,
            "remarks": "",
            "parent": 47
        },
        {
            "id": 50,
            "menu_name": "样品异常",
            "menu_href": "SamplesAbnormal",
            "menu_icon": "",
            "tree_sort": 721,
            "tree_level": 3,
            "is_show": 1,
            "status": 0,
            "remarks": "",
            "parent": 49
        },
        {
            "id": 51,
            "menu_name": "测试数据异常",
            "menu_href": "testDataException",
            "menu_icon": "",
            "tree_sort": 722,
            "tree_level": 3,
            "is_show": 1,
            "status": 0,
            "remarks": "",
            "parent": 49
        },
        {
            "id": 52,
            "menu_name": "设备异常处理",
            "menu_href": "deviceExceptionHandling",
            "menu_icon": "",
            "tree_sort": 723,
            "tree_level": 3,
            "is_show": 1,
            "status": 0,
            "remarks": "",
            "parent": 49
        }
    ]

    $(function () {
        filterArray(list, parent)
    })

    function filterArray(data, parent) {
        let vm = this;
        var tree = [];
        var temp;
        for (var i = 0; i < data.length; i++) {
            if (data[i].parent == parent) {
                var obj = data[i];
                temp = filterArray(data, data[i].id);
                if (temp.length > 0) {
                    obj.subs = temp;
                }
                tree.push(obj);
            }
        }
        return tree;
    }
</script>
</body>
</html>
