<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wx.milk.domain.CompanyRepository">
    <!-- auto generate -->
    <resultMap id="baseResultMap" type="wx.milk.model.Company">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="zone_id" property="zoneId" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="phone_num" property="phoneNum" jdbcType="VARCHAR"/>
        <result column="legal_person" property="legalPerson" jdbcType="VARCHAR"/>
        <result column="legal_person_num" property="legalPersonNum" jdbcType="VARCHAR"/>
        <result column="session_invalid_time" property="sessionInvalidTime" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="colums_condition">
     	id, name , zone_id, status, address, phone_num, legal_person, session_invalid_time,
     	create_time,create_user,update_time,update_user
    </sql>

    <sql id="condition">
        1 = 1
        <if test="null != params">
            <if test="null!=params.queryCondition and ''!=params.queryCondition">
                And ${params.queryCondition}
            </if>
            <if test="null != params.zoneId and '' != params.zoneId">
                and zone_id = #{params.zoneId}
            </if>
            <if test="null != params.name and  '' != params.name">
                and name like '%${params.name}%'
            </if>
            <if test="null != params.status and '' != params.status">
                and status = #{params.status}
            </if>
        </if>
    </sql>

    <select id="selectByPage" resultMap="baseResultMap" resultType="map">
        SELECT
          <include refid="colums_condition" />
        FROM t_company a
        WHERE
        <include refid="condition"/>
        order by name, f_name desc
        LIMIT #{page.startRowNum} ,#{page.rows}
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM t_menu a
        LEFT JOIN t_menu b ON b.id = a.pid
        WHERE
        <include refid="condition"/>
    </select>

    <select id="selectByParams" resultMap="baseResultMap">
        SELECT
        <include refid="colums_condition"/>
        FROM `t_menu` t
        WHERE 1 = 1
        <include refid="condition"/>
    </select>

    <!-- id>10 内置账户不能够删除 -->
    <delete id="deleteByPrimaryKey">
		DELETE FROM t_menu
		WHERE id = #{id}
	</delete>


    <delete id="deleteByParams" parameterType="map">
        DELETE
        FROM t_menu
        WHERE id != 1
        <include refid="condition"/>
    </delete>

    <select id="findByPrimaryKey" resultMap="baseResultMap">
        SELECT
        <include refid="colums_condition"/>
        FROM t_menu u
        WHERE id = #{id} limit 1
    </select>

    <select id="findByParam" resultMap="baseResultMap" parameterType="map">
        SELECT
        <include refid="colums_condition"/>
        FROM t_menu u
        WHERE
        <include refid="condition"/>
    </select>

    <insert id="insert" parameterType="wx.milk.model.Menu">
        INSERT INTO t_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="zoneId != null">
                zone_id,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="phoneNum != null">
                phone_num,
            </if>
            <if test="legalPerson != null">
                legal_person,
            </if>
            <if test="legalPersonNum != null">
                legal_person_num,
            </if>
            <if test="sessionInvalidTime != null">
                session_invalid_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="zoneId != null">
                #{zoneId},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="phoneNum != null">
                #{phoneNum},
            </if>
            <if test="legalPerson != null">
                #{legalPerson},
            </if>
            <if test="legalPersonNum != null">
                #{legalPersonNum},
            </if>
            <if test="sessionInvalidTime != null">
                #{sessionInvalidTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateUser != null">
                #{updateUser},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="wx.milk.model.Menu">
        UPDATE t_menu
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="zoneId != null">
                zone_id = #{zoneId},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="phoneNum != null">
                phone_num = #{phoneNum},
            </if>
            <if test="legalPerson != null">
                legal_person = #{legalPerson},
            </if>
            <if test="legalPersonNum != null">
                legal_person_num = #{legalPersonNum},
            </if>
            <if test="sessionInvalidTime != null">
                session_invalid_time = #{sessionInvalidTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
