<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wx.milk.domain.DictionsRepository">
    <!-- auto generate -->
    <resultMap id="baseResultMap" type="wx.milk.model.Dictions">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="dictions_code" property="dictionsCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>

       <!-- <collection property="roles" ofType="wx.milk.model.Role">
            <id property="role_no" column="role_no"/>
            <result property="name" column="name"/>
            <collection property="dictions" ofType="wx.milk.model.Dictions">
                <id property="type" column="type"/>
                <result property="name" column="name"/>
            </collection>
        </collection>-->
    </resultMap>

    <sql id="colums_condition">
     	id, type, name , create_time,create_user,update_time,update_user
    </sql>

    <sql id="condition">
        1 = 1
        <if test="null != params">
            <if test="null!=params.queryCondition and ''!=params.queryCondition">
                And ${params.queryCondition}
            </if>
            <if test="null != params.type and '' != params.type">
                and type = #{params.type}
            </if>
            <if test="null != params.name and  '' != params.name">
                and name like ${params.name}
            </if>
        </if>
    </sql>

    <sql id="uniqe_condition">
        1=1
        <if test="null!=type and ''!=type">
            AND type = #{type}
        </if>
    </sql>

    <select id="selectByPage" resultMap="baseResultMap" resultType="map">
        SELECT
        <include refid="colums_condition"/>
        FROM `t_dictions` t
        WHERE
        <include refid="condition"/>
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM `t_dictions` t
        WHERE
        <include refid="condition"/>
    </select>

    <select id="selectByParams" resultMap="baseResultMap">
        SELECT
        DISTINCT td.`name`
        FROM t_dictions td
        JOIN t_role_dictions trd ON td.id = trd.dictions_id
        JOIN t_user_role tur ON tur.role_no = trd.role_no
        where 1 = 1
        <if test="params.roles != null">
            and  tur.role_no in
            <foreach item="item" collection="params.roles" separator=","
                     open="(" close=")" index="">
                '${item.roleNo}'
            </foreach>
        </if>
    </select>

    <select id="selectDictions" resultMap="baseResultMap">
        SELECT
            DISTINCT td.dictions_code,
            td.`name`
        FROM t_dictions td
        JOIN t_role_dictions trd ON td.id = trd.dictions_id
        JOIN t_user_role tur ON tur.role_no = trd.role_no
        JOIN t_user tu ON tu.account = tur.account
        where 1 = 1
        <if test="params.account != null">
            and tu.account = #{params.account}
        </if>

    </select>

    <!-- id>10 内置账户不能够删除 -->
    <delete id="deleteByPrimaryKey">
		DELETE FROM t_dictions
		WHERE id = #{id} AND id != 1
	</delete>


    <delete id="deleteByParams" parameterType="map">
        DELETE
        FROM t_dictions
        WHERE id != 1
        <include refid="condition"/>
    </delete>

    <select id="findByPrimaryKey" resultMap="baseResultMap">
        SELECT
        <include refid="colums_condition"/>
        FROM t_dictions u
        WHERE id = #{id} limit 1
    </select>

    <select id="findByUnique" resultMap="baseResultMap">
        SELECT
        <include refid="colums_condition"/>
        FROM t_dictions u
        WHERE
        <include refid="uniqe_condition"/>
        limit 1
    </select>

    <select id="findByParam" resultMap="baseResultMap" parameterType="map">
        SELECT
        <include refid="colums_condition"/>
        FROM t_dictions u
        WHERE
        <include refid="condition"/>
    </select>

    <insert id="insert" parameterType="wx.milk.model.Dictions">
        INSERT INTO t_dictions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="updateUser != null">
                #{updateUser},
            </if>

        </trim>
    </insert>

    <update id="update" parameterType="wx.milk.model.Dictions">
        UPDATE t_dictions
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        WHERE id = #{id} OR account = #{account}
    </update>
</mapper>
