<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wx.milk.domain.MenuRepository">
    <!-- auto generate -->
    <resultMap id="baseResultMap" type="wx.milk.model.Menu">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="f_name" property="fName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="p_id" property="pId" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
        <result column="sequence" property="sequence" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="colums_condition">
     	id, name , status, pid, url, img, sequence
    </sql>

    <sql id="condition">
        1 = 1
        <if test="null != params">
            <if test="null!=params.queryCondition and ''!=params.queryCondition">
                And ${params.queryCondition}
            </if>
            <if test="null != params.pId and '' != params.pId">
                and p_id = #{params.pId}
            </if>
            <if test="null != params.name and  '' != params.name">
                and a.name like '%${params.name}%'
            </if>
            <if test="null != params.fName and  '' != params.fName">
                and b.name like '%${params.fName}%'
            </if>
            <if test="null != params.status and '' != params.status">
                and status = #{params.status}
            </if>
            <if test="null != params.status and '' != params.status">
                and status = #{params.status}
            </if>
        </if>
    </sql>

    <select id="selectByPage" resultMap="baseResultMap" resultType="map">
        SELECT
            a.id,
            a.pid,
            a.`name` name,
            b.`name` f_name,
            a.url,
            a.`status`,
            a.create_user,
            a.create_time,
            a.update_time,
            a.update_user
        FROM t_menu a
        LEFT JOIN t_menu b ON b.id = a.pid
        WHERE
        <include refid="condition"/>
        order by name, f_name desc
        LIMIT #{page.startRowNum} ,#{page.rows}
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM t_menu a
        LEFT JOIN t_menu b ON b.id = a.pid
        WHERE
        <include refid="condition"/>
    </select>

    <!-- 根据用户的权限查询菜单 -->
    <select id="selectByAccount" resultMap="baseResultMap">
        SELECT
        DISTINCT tm.id,
            tm.pid p_id,
            tm.`name`,
            tm.url,
            tm.sequence,
            tm.create_user,
            tm.update_user,
            tm.create_time,
            tm.update_time
        FROM t_menu tm
        JOIN t_role_menu trm ON trm.menu_id = tm.id
        JOIN t_role tr ON tr.role_no = trm.role_no
        JOIN t_user_role tur ON tur.role_no = tr.role_no
        JOIN t_user tu ON tu.account = tur.account
        WHERE 1 = 1
        <if test="null != params.account and '' != params.account">
            and tu.account = #{params.account}
        </if>
        and tm.status = 1
        ORDER BY tm.sequence ASC
    </select>

    <!-- 查询所有的父节点 -->
    <select id="selectPid" resultMap="baseResultMap">
        SELECT
        DISTINCT  t.id,
            t.name,
            t.sequence
        FROM t_menu t
        where t.pid = '0'
        ORDER BY t.sequence ASC
    </select>

    <select id="selectByParams" resultMap="baseResultMap">
        SELECT
        <include refid="colums_condition"/>
        FROM `t_menu` t
        WHERE 1 = 1
        <include refid="condition"/>
    </select>

    <!-- id>10 内置账户不能够删除 -->
    <delete id="deleteByPrimaryKey">
		DELETE FROM t_menu
		WHERE id = #{id}
	</delete>


    <delete id="deleteByParams" parameterType="map">
        DELETE
        FROM t_menu
        WHERE id != 1
        <include refid="condition"/>
    </delete>

    <select id="findByPrimaryKey" resultMap="baseResultMap">
        SELECT
        <include refid="colums_condition"/>
        FROM t_menu u
        WHERE id = #{id} limit 1
    </select>

    <select id="findByParam" resultMap="baseResultMap" parameterType="map">
        SELECT
        <include refid="colums_condition"/>
        FROM t_menu u
        WHERE
        <include refid="condition"/>
    </select>

    <insert id="insert" parameterType="wx.milk.model.Menu">
        INSERT INTO t_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="pId != null">
                pid,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="img != null">
                img,
            </if>
            <if test="sequence != null">
                sequence,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="pId != null">
                #{pId},
            </if>
            <if test="url != null">
                #{url},
            </if>
            <if test="img != null">
                #{img},
            </if>
            <if test="sequence != null">
                #{sequence},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateUser != null">
                #{updateUser},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="wx.milk.model.Menu">
        UPDATE t_menu
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="pId != null">
                pid = #{pId},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="sequence != null">
                sequence = #{sequence},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
